<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
          xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">

    <description>Spring MVC Configuration</description>

    <!--加载属性配置文件-->
    <context:property-placeholder ignore-unresolvable="true" location="classpath:config/application.properties" />
	<!-- 对静态资源文件的访问 -->
	<mvc:resources mapping="/resources/**" location="/resources/" cache-period="31556926" />

	<bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean" ></bean>

	<mvc:annotation-driven validator="validator" >
        <mvc:message-converters register-defaults="true">
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>text/plain;charset=UTF-8</value>
                        <value>text/html;charset=UTF-8</value>
                    </list>
                </property>
            </bean>
            <bean  class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>application/json;charset=UTF-8</value>
                    </list>
                </property>
                <property name="objectMapper">
                    <bean class="com.ipe.common.web.support.HibernateObjectMapper">
                        <property name="dateFormat">
                            <bean class="java.text.SimpleDateFormat">
                                <constructor-arg type="java.lang.String" value="yyyy-MM-dd HH:mm:ss" />
                            </bean>
                        </property>
                    </bean>
                </property>
            </bean>
        </mvc:message-converters>
	</mvc:annotation-driven>

	<!-- mvc 拦截器-->
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**"/>
			<mvc:exclude-mapping path="/login"/>
			<mvc:exclude-mapping path="/signin.html"/>
            <bean class="com.ipe.module.core.web.interceptor.SecutiryInterceptor">
            	<property name="filters" value=".js,.png,.css,.jpg,.jpeg" />
            </bean>
		</mvc:interceptor>
	</mvc:interceptors>

	<!-- 开启controller注解支持 -->
	<context:component-scan base-package="com.ipe.module">
		<context:include-filter type="annotation"
            expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>

	<!-- Freemarker配置 -->
	<bean id="freemarkerConfig"
		class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
		<property name="templateLoaderPath" value="/WEB-INF/" />
		<property name="defaultEncoding" value="UTF-8"></property>
		<property name="freemarkerVariables">
			<map>
				<entry key="xml_escape" value-ref="fmXmlEscape" />
			</map>
		</property>
        <property name="freemarkerSettings">
            <props>
                <prop key="defaultEncoding">UTF-8</prop>
                <prop key="template_update_delay">5</prop>
                <prop key="url_escaping_charset">UTF-8</prop>
                <prop key="locale">zh_CN</prop>
                <prop key="boolean_format">true,false</prop>
                <prop key="datetime_format">yyyy-MM-dd HH:mm:ss</prop>
                <prop key="date_format">yyyy-MM-dd</prop>
                <prop key="time_format">HH:mm:ss</prop>
                <prop key="number_format">0.######</prop>
                <prop key="whitespace_stripping">true</prop>
            </props>
        </property>
    </bean>
	<bean id="fmXmlEscape" class="freemarker.template.utility.XmlEscape" />

	<!-- 根据客户端的不同的请求决定不同的view进行响应, MappingJackson2JsonView 如 /blog/1.json -->
	<bean class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
        <property name="contentNegotiationManager">
            <bean class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">
                <!-- 设置为true以忽略对Accept Header的支持-->
                <property name="ignoreAcceptHeader" value="true"/>
                <!-- 扩展名至mimeType的映射,即 /user.json => application/json -->
                <property name="favorPathExtension" value="true"/>
                <!-- 用于开启 /userinfo/123?format=json 的支持 -->
                <property name="favorParameter" value="false"/>
                <property name="parameterName" value="format"/>
                <property name="defaultContentType" value="text/html"/>
                <property name="mediaTypes">
                    <map>
                        <entry key="page" value="text/html"/>
                        <entry key="json" value="application/json"/>
                    </map>
                </property>
            </bean>
        </property>
		<property name="viewResolvers">
			<list>
				<bean class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
					<property name="order" value="0" />
					<property name="cache" value="false" />
					<property name="prefix" value="" />
					<property name="suffix" value=".html" />
					<property name="contentType" value="text/html;charset=UTF-8"/>
                    <property name="allowSessionOverride" value="true"/>
                    <property name="exposeRequestAttributes" value="true" />
					<property name="exposeSessionAttributes" value="true" />
					<property name="requestContextAttribute" value="req"/>
				</bean>
				<bean  class="org.springframework.web.servlet.view.InternalResourceViewResolver">
					<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
					<property name="suffix" value=".jsp"/>
					<property name="prefix" value="/WEB-INF/" />
					<property name="order" value="1" />
				</bean>
			</list>
		</property>
		<property name="defaultViews">
			<list>
				<bean
					class="org.springframework.web.servlet.view.json.MappingJackson2JsonView">
				</bean>
			</list>
		</property>
	</bean>

	<!-- 文件上传 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="maxUploadSize" value="${fileupload_size}" />
		<property name="defaultEncoding" value="utf-8" />
	</bean>

    <!-- 支持Shiro对Controller的方法级AOP安全控制 begin
    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" depends-on="lifecycleBeanPostProcessor">
        <property name="proxyTargetClass" value="true" />
    </bean>-->

	<!-- 控制器异常处理
	<bean id="exceptionResolver"
		class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="exceptionMappings">
			<props>
               <prop key="org.apache.shiro.authz.UnauthorizedException">
                    common/403
               </prop>
                <prop key="java.lang.Throwable">
                    common/500
                </prop>
			</props>
		</property>
	</bean> -->
    <bean id="exceptionResolver" class="com.ipe.module.core.web.util.CustExceptionHandler"/>
</beans>

