/*重写EXTJS样式*/
.x-form-text {
	color: black;
	padding: 1px 3px 2px 3px;
	background: white repeat-x 0 0;
	border-width: 1px;
	border-style: solid;
	border-color: #b5b8c8;
	background-image: none !important;
}
.x-window-default{
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
}
.x-window-header-default-top{
	-moz-border-radius-topleft: 0;
	-webkit-border-top-left-radius: 0;
	border-top-left-radius: 0;
	-moz-border-radius-topright: 0;
	-webkit-border-top-right-radius: 0;
	border-top-right-radius: 0;
	-moz-border-radius-bottomright: 0;
	-webkit-border-bottom-right-radius: 0;
	border-bottom-right-radius: 0;
	-moz-border-radius-bottomleft: 0;
	-webkit-border-bottom-left-radius: 0;
	border-bottom-left-radius: 0;
}
.x-panel-default-framed{
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
}
.x-btn-default-small{
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
}
.x-mask{
	opacity: .4;
	background: #ccc;
	cursor: default;
}
.x-tab-default-top{
	-moz-border-radius-topleft: 0;
	-webkit-border-top-left-radius: 0;
	border-top-left-radius: 0;
	-moz-border-radius-topright: 0;
	-webkit-border-top-right-radius: 0;
	border-top-right-radius: 0;
	-moz-border-radius-bottomright: 0;
	-webkit-border-bottom-right-radius: 0;
	border-bottom-right-radius: 0;
	-moz-border-radius-bottomleft: 0;
	-webkit-border-bottom-left-radius: 0;
	padding: 3px 11px 3px 11px;
}
.x-btn-default-small-icon-text-left .x-btn-inner{
	line-height: 16px;
    padding-left: 15px;
}
.freemarker-editor textarea{
	font-size: 15px;
	color:#0080c0;
}
/****/
#loading{
	margin:0 auto 0 auto;
	width:110px;
	background-color: #c0c0c0!important;
	font-size: 13px;
    text-align: center;
    margin-top: 200px;
    border-radius:11px;
    opacity:6;
    z-index: 99999;
}
html,body{
	font-size: 13px;
	font-family: 宋体, Arial, Helvetica, sans-serif;
}
.m_textReadOnly input{
    background-color: #EFEFEF!important;
    background-image: none!important;
    border-color: #AFBFF8!important;
}
.padding0{
	padding:0;
	margin:0;
}
.hidden{
	display: none;
}
.to-left{
	float:left;
}
.to-right{
	float:right;
}
.bold{
	font-weight:bold;
}
.text-center{
	text-align: center;
}
.mcol-md-6{
	width:60%;
}
.mcol-md-4{
	width:38%;
}
.mtable{
	width:100%;
	padding:0px;
	margin: 0 auto 0 auto;
	border-collapse: collapse;
	font-size:13px !important;
}
.mtable thead {
	background-color: #c0c0c0;
}
.mtable thead th {
	font-weight: bold !important;
	text-align:center !important;
}
.mtable td , .mtable th{
	border-top:1px solid;
}
.mtable tbody tr:nth-child(odd){
	background-color: #f9f9f9
}
.mtable tbody tr{
	height:30px;
}
.marginTop10{
}
.meclipse{
	 white-space:nowrap !important;
	 overflow:hidden !important;
	 text-overflow:ellipsis !important;
}
.grayColor{
	color:gray;
}
.clear{
	clear:both;
}
.height-fit{
	height:100% !important; 
}
.defaultColor{
	background-color: #f8f8f8;
}
