#loading{
	margin:0 auto 0 auto;
	width:110px;
	background-color: #c0c0c0!important;
	font-size: 13px;
    text-align: center;
    margin-top: 200px;
    -webkit-border-radius:11px;
    opacity:6;
    z-index: 99999;
}
html,body{
	font-size: 13px;
	font-family: 宋体, Arial, Helvetica, sans-serif;
}
.m_textReadOnly input{
    background-color: #EFEFEF!important;
    background-image: none!important;
    border-color: #AFBFF8!important;
}
.padding0{
	padding:0;
	margin:0;
}
.hidden{
	display: none;
}
.to-left{
	float:left;
}
.to-right{
	float:right;
}
.bold{
	font-weight:bold;
}
.text-center{
	text-align: center;
}
.mcol-md-6{
	width:60%;
}
.mcol-md-4{
	width:38%;
}
.mtable{
	width:100%;
	padding:0px;
	margin: 0 auto 0 auto;
	border-collapse: collapse;
	font-size:13px !important;
}
.mtable thead {
	background-color: #c0c0c0;
}
.mtable thead th {
	font-weight: bold !important;
	text-align:center !important;
}
.mtable td , .mtable th{
	border-top:1px solid;
}
.mtable tbody tr:nth-child(odd){
	background-color: #f9f9f9
}
.mtable tbody tr{
	height:30px;
}
.marginTop10{
}
.meclipse{
	 white-space:nowrap !important;
	 overflow:hidden !important;
	 text-overflow:ellipsis !important;
}
.grayColor{
	color:gray;
}
.clear{
	clear:both;
}